{% extends "layout.html" %}
{% block pageTitle %}
    Civil Enforcement - select enforcement type
{% endblock %}
{% block header %}
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
    {% from "phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
        tag: {
            text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% from "back-link/macro.njk" import govukBackLink %}

            {{ govukBackLink({
                text: "Back",
                href: "javascript: window.history.back(-1)"
            }) }}

            <h1 class="govuk-heading-xl">Apply to find out about {{ defendant }}'s financial situation</h1>

            <p>Ask the court to order the person or business who owes you money to <a
                        href="https://www.gov.uk/government/publications/form-n39-order-to-attend-court-for-questioning">attend
                    court to give evidence of their finances</a>, for example bills and statements.</p>
            <p>The court fee is £55.</p>

        </div>
    </div>
{% endblock %}
