{% extends "layout.html" %}
{% block pageTitle %}
    Civil Enforcement - select enforcement type
{% endblock %}
{% block header %}
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
    {% from "phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
        tag: {
            text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}
    {% from "back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
        text: "Back",
        href: "javascript: window.history.back(-1)"
    }) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% if hasErrors %}
                {% from "error-summary/macro.njk" import govukErrorSummary %}

                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                            text: "You need to select which type of bailiff you want to use",
                            href: "#"
                        }
                    ]
                }) }}
            {% endif %}

            <form action="" method="post" class="form">
                <div class="govuk-form-group">
                    {% from "radios/macro.njk" import govukRadios %}

                    {{ govukRadios({
                        idPrefix: "enforcement-type",
                        name: "enforcement-type",
                        fieldset: {
                            legend: {
                                text: "What type of bailiffs do you want to use?",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--xl"
                            }
                        },
                        hint: {
                        },
                        items: [
                            {
                                value: "warrant-of-control",
                                text: "County court bailiffs",
                                label: {
                                classes: "govuk-label--s"
                            },
                                hint: {
                                text: "Apply for a Warrant of Control if the debt is less than £5000 including the court fee. The court fee is £77."
                            }
                            },
                            {
                                value: "writ-of-control",
                                text: "High court bailiffs",
                                label: {
                                classes: "govuk-label--s"
                            },
                                hint: {
                                text: "Apply for a Writ of Control if the debt is at least £600. The court fee is £66. High court bailiffs charge fees for their services.
                "
                            }
                            }
                        ]
                    }) }}
                </div>

                <h2 class="govuk-heading-m">What's the difference and what are the fees?</h2>

                <p>County court bailiffs enforce warrants, work for the courts, and charge no extra fees.</p>
                <p>High court bailiffs are also known as High Court Enforcement Officers (HCEO). High court bailiffs
                    enforce writs, work for private companies, and charge extra
                    fees. These fees are added to the debt, but if they cannot get your money back you will have
                    to pay the fees.
                </p>

                {% from "details/macro.njk" import govukDetails %}

                {% set feeTable -%}
                    <div id="highCourtFees">


                        <table class="govuk-table">

                            <caption class="govuk-table__caption">High court bailiff fees</caption>


                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">

                                <th class="govuk-table__header" scope="col">Action</th>

                                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Flat fee</th>

                                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Plus</th>

                            </tr>
                            </thead>

                            <tbody class="govuk-table__body">

                            <tr class="govuk-table__row">


                                <th class="govuk-table__header" scope="row">Issuing a notice of enforcement</th>


                                <td class="govuk-table__cell govuk-table__cell--numeric">£75</td>


                                <td class="govuk-table__cell govuk-table__cell--numeric">-</td>


                            </tr>

                            <tr class="govuk-table__row">


                                <th class="govuk-table__header" scope="row">Take control of goods</th>


                                <td class="govuk-table__cell govuk-table__cell--numeric">£235</td>


                                <td class="govuk-table__cell govuk-table__cell--numeric">7.5% of the proportion of the
                                    main
                                    debt over £1,500
                                </td>


                            </tr>

                            <tr class="govuk-table__row">


                                <th class="govuk-table__header" scope="row">Goods taken and sold at auction</th>


                                <td class="govuk-table__cell govuk-table__cell--numeric">£110</td>


                                <td class="govuk-table__cell govuk-table__cell--numeric">7.5% of the proportion of the
                                    main
                                    debt over £1,500
                                </td>


                            </tr>

                            </tbody>
                        </table>


                    </div>

                    <p>For example, a High Court bailiff will charge £75 to send a letter to the person who owes you
                        money.
                        A visit to their address costs over £200</p>
                {% endset -%}

                {{ govukDetails({
                    summaryText: "High Court bailiff fees",
                    html: feeTable
                }) }}

                <button class="govuk-button">Continue</button>
            </form>

        </div>
    </div>
{% endblock %}
