{% extends "layout.html" %}

{% block pageTitle %}
OCMC Dashboard
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/dashboard/"
}) }}
    <h1 class="govuk-heading-l">
        <span class="heading-secondary">Claim number:</span>
        391MC645
    </h1>
    {% if writApproved === 'true' %}
        {% include 'dashboard/includes/current-step-writ-approved.html' %}
    {% else %}
        {% include 'dashboard/includes/current-step.html' %}
    {% endif %}

    {% from "tabs/macro.njk" import govukTabs %}
    {% from "table/macro.njk" import govukTable %}

    {% set nextStepsHtml %}
        {% include 'dashboard/includes/next-steps.html' %}
    {% endset -%}

    {% set historyHtml %}
        {% include 'dashboard/includes/history.html' %}
    {% endset -%}

    {{ govukTabs({
      items: [
        {
          label: "Next steps",
          id: "next-steps",
          panel: {
            html: nextStepsHtml
          }
        },
        {
          label: "Claim history",
          id: "history",
          panel: {
            html: historyHtml
          }
        }
      ]
    }) }}

</div>
    <div class="govuk-grid-column-one-third">
        <div class="meta-data">
            <h3 class="govuk-heading-m" style="padding-top: 50px">About claim</h3>
            <ul role="navigation" class="govuk-list list-bullet">
                <li><strong class="bold">Defendant name:</strong><br> <a href="#">Andrew Smith</a>
                </li>

                <li><strong class="bold">Claim amount:</strong><br>£6543.21</li>
<!--todo amount should include £66 writ fee -->
                <li><strong class="bold">Claim details:</strong><br><a href="#">Download claim</a></li>


            </ul>
        </div>
    </div>
</div>
{% endblock %}