{% macro indexItem(params) %}
    <div class="govuk-footer__heading">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Sprint {{ params.sprint }}
                    <small class="govuk-hint">{{ params.dateRange }}</small>
                </h3>
                <p>{{ params.summary }}</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <a href="user-flow/" class="govuk-button hmcts-button--secondary">View user flow</a>
            </div>

            {%- if params.changeLog %}
                <div class="govuk-grid-column-full">
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Change log
                        </span>
                        </summary>
                        <div class="govuk-details__text">
                            <ol class="govuk-list govuk-list--bullet">
                                {%- for change in params.changeLog %}
                                <li>{{ change }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </details>
                </div>
            {% endif -%}
        </div>


    </div>
{% endmacro %}