{% extends "layout.html" %}

{% block pageTitle %}
    Civil Enforcement prototypes
{% endblock %}

{% block content %}

    <div class="govuk-grid-row" id="page-flow">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">Sprint {{ sprint }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link">Stage: {{ thisStage.name }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">{{ thisPage.title }}</li>
                </ol>
            </div>
            <span class="govuk-header"></span>
            <span class="govuk-header"></span>
            <h2 class="govuk-heading-m">
                {{ thisPage.title }}
            </h2>

            <p>{{ thisPage.description }}</p>

            <div class="screenPreviewContainer">
                <iframe src="/{{ location }}" class="screenPreview" frameborder="0"></iframe>
            </div>

            {% if userNeeds !== undefined %}
                {% from "details/macro.njk" import govukDetails %}
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            User needs
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        {% for userNeed in userNeeds %}
                            <p><strong>{{ userNeed.need }}</strong>{{ userNeed.reason }} - {{ userNeed.id }}</p>
                        {% endfor %}
                    </div>
                </details>
            {% endif %}

            {% if theStageUR.feedback %}
                {% from "details/macro.njk" import govukDetails %}
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Page feedback
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        {% for feedbackType, feedback in theStageUR.feedback %}
                            {% if feedbackType === 'video' and feedback !== '' %}
                                <a href="{{ feedback }}" target="_blank">Video</a>
                            {% else %}
                                <p class="page-flow-feedback--{{ feedbackType }}">{{ feedback }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </details>

            {% endif %}

            {% if theStageUR.participant.length %}
                {% from "details/macro.njk" import govukDetails %}
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Participant comments
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        {% for feedback in theStageUR.participant %}
                            {% if feedback is not loop.first %}
                                <p>Participant {{ loop.index0 }} - {{ feedback }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </details>
            {% endif %}

        </div>
        <div class="govuk-grid-column-one-third">
            <a href="/{{ location }}" class="hmcts-button--secondary govuk-button govuk-!-display-block" target="_blank">View full page</a>

            {% if navigation.prev !== false %}
                <p><a href="{{ navigation.prev }}">Previous</a></p>
            {% endif %}
            {% if navigation.next !== false %}
                <p><a href="{{ navigation.next }}">Next</a></p>
            {% endif %}

            {% if hasHistory %}
                {% from "details/macro.njk" import govukDetails %}
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Iterations: {{ hasHistory.length }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        {% for version in hasHistory %}
                            <p><a href="{{ version.location }}" target="_blank">Version {{ version.version }} from
                                    Sprint {{ version.sprint }}</a></p>
                        {% endfor %}
                    </div>
                </details>

            {% endif %}
        </div>

    </div>

{% endblock %}
