<div class="gem-c-contextual-sidebar">
    <div class="gem-c-step-nav-related gem-c-step-nav-related--singular">
        <h2 class="gem-c-step-nav-related__heading">
            <span class="gem-c-step-nav-related__pretitle">Part of</span>
            <a href="/defendant-guidance/step-by-step" class="gem-c-step-nav-related__link"
               data-track-category="stepNavPartOfClicked" data-track-action="Part of"
               data-track-label="/learn-to-drive-a-car" data-track-dimension="Learn to drive a car: step by step"
               data-track-dimension-index="29"
               data-track-options="{&quot;dimension96&quot; : &quot;e01e924b-9c7c-4c71-8241-66a575c2f61f&quot; }">
                Learn to drive a car: step by step
            </a>
        </h2>
        {% include 'includes/step-by-step-nav.html' %}
    </div>
</div>