{% extends "layout.html" %}

{% block pageTitle %}
    OCMC {{ dashboardType }} dashboard
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

    {% from "phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
        tag: {
            text: "beta"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full cmc-dashboard">
            {% from "back-link/macro.njk" import govukBackLink %}

            {% if dashboardType === 'defendant' %}
                {{ govukBackLink({
                    text: "Back",
                    href: "../defendant"
                }) }}
            {% else %}
                {{ govukBackLink({
                    text: "Back",
                    href: "../dashboard"
                }) }}
            {% endif %}

            {% include './includes/case-details.html' %}

            {% from "tabs/macro.njk" import govukTabs %}
            {% from "table/macro.njk" import govukTable %}

            {% set nextStepsHtml %}
                {% include 'v2/dashboard/includes/next-steps.html' %}
            {% endset -%}

            {% set partiesHtml %}
                {% include 'v2/dashboard/includes/parties.html' %}
            {% endset -%}

            {% set documentsHtml %}
                {% include 'v2/dashboard/includes/documents.html' %}
            {% endset -%}

            {% set historyHtml %}
                {% include 'v2/dashboard/includes/history.html' %}
            {% endset -%}

            {{ govukTabs({
                items: [
                    {
                        label: "Actions you can take",
                        id: "next-steps",
                        panel: {
                        html: nextStepsHtml
                    }
                    },
                    {
                        label: "Claim history",
                        id: "history",
                        panel: {
                        html: historyHtml
                    }
                    },
                    {
                        label: "Parties",
                        id: "parties",
                        panel: {
                        html: partiesHtml
                    }
                    },
                    {
                        label: "Documents",
                        id: "documents",
                        panel: {
                        html: documentsHtml
                    }
                    }
                ]
            }) }}

            {#{% include 'v2/dashboard/includes/next-steps.html' %}#}

        </div>
    </div>
{% endblock %}