{% extends "layout.html" %}

{% block pageTitle %}
Defendants guidance
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Business and self-employed</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Business debt and bankruptcy</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
<main role="main" id="content" class="guide">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Manage your debts
            </h1>

            <aside class="part-navigation-container" role="complementary">
                <nav role="navigation" class="gem-c-contents-list"
                     aria-label="Pages in this guide">
                    <p class="govuk-body-s">Contents</p>

                    <ol class="gem-c-contents-list__list">
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed "
                            aria-current="true">
                            <a class="gem-c-contents-list__link"
                               href="defendant-guidance/index">Overview</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
                            <span class="govuk-breadcrumbs__link">Set up a payment plan</span>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link "
                               href="defendant-guidance/keep-up-payments">If you cannot keep up with payments</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link"
                               href="defendant-guidance/cannot-pay">What to do if you cannot pay</a>
                        </li>
                    </ol>

                </nav>
            </aside>

            <h2 class="part-title">
                Set up a payment plan
            </h2>

            <p>If you cannot pay your debt in full you can pay in instalments, known as a payment plan.</p>

            <p>Before you try to set up a payment plan you should first plan your budget. You need to make a repayment
                offer that you can afford otherwise you may miss payments. If you miss a payment more serious action may
                be taken against you, such as bailiffs coming to your home.
            </p>

            <p>There are many online budget planners you can use for free, such as:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li><a href="https://www.moneyadviceservice.org.uk/en/tools/budget-planner">Money Advice Service budget
                    planner</a></li>
                <li><a href="https://www.stepchange.org/debt-info/your-financial-situation/making-a-budget.aspx">StepChange
                    guidance on how to make a budget </a></li>
                <li><a href="https://tools.nationaldebtline.org/yourbudget/">National Debtline budget planner</a></li>
                <li>
                    <a href="https://www.citizensadvice.org.uk/debt-and-money/budgeting/budgeting/work-out-your-budget/">Citizen’s
                        Advice budget planner</a></li>
            </ul>

            <p>When you know what you can afford you should contact the person or business you owe money to and make an
                offer. Write a letter or email and include:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>your budget</li>
                <li>a list of your other debts</li>
                <li>any illnesses or disabilities you have</li>
            </ul>

            <p>StepChange have a free <a href="https://www.stepchange.org/Portals/0/DI%26A%20images/Payment-arrangement-example-letter.pdf">template letter</a> on their website that you can download and use.</p>

        </div>

        <div class="govuk-grid-column-one-third">

            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Subsection
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a href="#">
                                Related link
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Related link
                            </a>
                        </li>
                        <li>
                            <a href="#" class="govuk-!-font-weight-bold">
                                More <span class="govuk-visually-hidden">in Subsection</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>

        </div>

    </div>
</main>
{% endblock %}
