{% extends "layout.html" %}

{% block pageTitle %}
Defendants guidance
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
    {% include 'defendant-guidance/includes/breadcrumb.html' %}
{% endblock %}

{% block content %}
<main role="main" id="content" class="guide">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Manage your debts
            </h1>

            <aside class="part-navigation-container" role="complementary">
                <nav role="navigation" class="gem-c-contents-list  " data-module="track-click"
                     aria-label="Pages in this guide">
                    <p class="govuk-body-s">Contents</p>

                    <ol class="gem-c-contents-list__list">
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active"
                            aria-current="true">
                            <span class="govuk-breadcrumbs__link">Overview</span>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link "
                               href="/defendant-guidance/{% if stepByStep === true %}step-by-step/{% endif %}set-up-payment-plan{% if stepByStep === true %}?step=4.2{% endif %}">Set up a payment plan</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link"
                               href="/defendant-guidance/{% if stepByStep === true %}step-by-step/{% endif %}stop-bailiff-visit{% if stepByStep === true %}?step=5.2{% endif %}">Stop a bailiff visit</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link "
                               href="/defendant-guidance/{% if stepByStep === true %}step-by-step/{% endif %}keep-up-payments{% if stepByStep === true %}?step=6.1{% endif %}">If you cannot keep up with payments</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
                            <a class="gem-c-contents-list__link "
                               href="/defendant-guidance/{% if stepByStep === true %}step-by-step/{% endif %}cannot-pay{% if stepByStep === true %}?step=7.1{% endif %}">If you cannot pay your debt</a>
                        </li>
                    </ol>
                </nav>

            </aside>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <div class="part-title">
                <h2 class="govuk-heading-l">
                Overview
                </h2>
            </div>

            <p>If you owe a person or business money and do not pay the debt or keep up with payments they may ask the
                court for help, such as:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>sending a bailiff to your home or business</li>
                <li>taking money from your wages</li>
                <li>freezing money in your bank account</li>
                <li>putting a charging order on property you own</li>
            </ul>

            <h3 class="govuk-heading-m">
                Ask for time to manage your debts
            </h3>

            <p>You can ask claimants to stop contacting you for 30 days. This time is so you can:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>get debt advice</li>
                <li>work out how to manage your debts</li>
            </ul>

            <p><a href="https://www.stepchange.org/debt-info/your-rights/breathing-space.aspx">Get advice from StepChange on how to ask for extra time</a>.</p>

            <h3 class="govuk-heading-m">
                Get help with your debts
            </h3>

            <p>If you don’t know what to do you about your debts you can get advice specific to your situation.</p>

            <p>You can get help online, in person, or on the phone. <a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator">Find a free debt advice service</a></p>

            <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
                <ul class="gem-c-pagination__list" data-module="track-click">
                    <li class="gem-c-pagination__item gem-c-pagination__item--next">
                        <a href="/defendant-guidance/{% if stepByStep === true %}step-by-step/{% endif %}set-up-payment-plan{% if stepByStep === true %}?step=4.2{% endif %}" class="gem-c-pagination__link" rel="next">
                            <span class="gem-c-pagination__link-title">
                                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13"
                                     width="17"
                                     viewBox="0 0 17 13">
                                  <path fill="currentColor"
                                        d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                </svg>
                                <span class="gem-c-pagination__link-text">
                                  Next
                                </span>
                            </span>
                            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                            <span class="gem-c-pagination__link-label">Set up a payment plan</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="govuk-grid-column-one-third">

            {% if stepByStep === true %}
                {% include 'defendant-guidance/includes/step-by-step-sidebar.html' %}
            {% else %}
                {% include 'defendant-guidance/includes/related-guidance-defendants.html' %}
            {% endif %}

        </div>

    </div>
</main>
{% endblock %}
