{% extends "layout.html" %}

{% block pageTitle %}
Defendants guidance
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Business and self-employed</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Business debt and bankruptcy</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
<main role="main" id="content" class="guide">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Manage your debts
            </h1>

            <aside class="part-navigation-container" role="complementary">
                <nav role="navigation" class="gem-c-contents-list  " data-module="track-click"
                     aria-label="Pages in this guide">
                    <p class="govuk-body-s">Contents</p>

                    <ol class="gem-c-contents-list__list" style="margin-top: -20px; margin-left: -40px">
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active"
                            aria-current="true">
                            <span style="font-family: GDS Transport Website">County court judgment</span>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link " data-track-category="contentsClicked"
                               data-track-action="content_item 1" data-track-label=""
                               data-track-options=""
                               href="defendant-guidance/stop-bailiff-visit">Stop a bailiff visit</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link " data-track-category="contentsClicked"
                               data-track-action="content_item 2"
                               data-track-label=""
                               data-track-options=""
                               href="defendant-guidance/keep-up-payments">If you cannot keep up with payments</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link " data-track-category="contentsClicked"
                               data-track-action="content_item 3"
                               data-track-label=""
                               data-track-options=""
                               href="defendant-guidance/cannot-pay">What to do if you cannot pay</a>
                        </li>
                    </ol>
                </nav>

            </aside>

            <h1 class="part-title">
                County court judgments
            </h1>

            <p>If you owe a person or business money and do not pay it back, they may make a
                court claim against you. If the court rules in their favour, you will get a county court
                judgment (CCJ) or high court judgment ordering you to pay it back.</p>

            <p>The court will send the judgment letter to your last known home address. It’s in your best
                interests to read and respond to the letter even if you cannot pay the money back. The
                court cannot help you if you hide your financial situation. <a target="_blank"
                                                                               href="">Find out what to do if you cannot
                    pay</a>.
            </p>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    You will make your situation worse if you ignore the letter.
                </strong>
            </div>

            <div class="govuk-!-padding-bottom-5"></div>

            <h3 class="govuk-heading-s">Pay your judgment on time</h3>

            <p>Your judgment letter will explain:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>how much you owe</li>
                <li>how to pay (in full or in instalments)</li>
                <li>the deadline for paying</li>
                <li>who to pay</li>
            </ul>

            <p>If you can afford to, pay the judgment in full or in instalments by the deadline. This will stop
                your situation from getting worse, such as bailiffs knocking at your door.
            </p>

            <div class="govuk-!-padding-bottom-5"></div>

            <h3 class="govuk-heading-s">If you do not pay before the judgment deadline</h3>

            <p>The judgment will not go away. Even after the deadline, if you can pay your
                debt you should contact the person you owe money to and arrange to pay it off.
            </p>

            <p>If you do not, the person you owe money to can take more serious action against you, known
                as enforcing a judgment. This could result in:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>bailiffs taking your possessions – <a target="_blank"
                                                          href="https://www.gov.uk/your-rights-bailiffs">find out your
                    rights when a bailiff visits</a></li>
                <li><a target="_blank"
                       href="">money being taken from your wages</a></li>
                <li>the bank freezing your account</li>
                <li>being unable to get money from any property sales until you pay off the debt</li>
                <li><a target="_blank" href="https://www.gov.uk/apply-to-bankrupt-someone">you becoming bankrupt</a>
                </li>
            </ul>

            <div class="govuk-!-padding-bottom-5"></div>

            <h3 class="govuk-heading-s">Cancel the judgment</h3>

            <p>If you do not owe the money, you can ask the court to cancel the county court judgment (CCJ) or high
                court judgment. This is known as getting the judgment ‘set aside’.
            </p>

            <p>You can do this if you did not receive, or did not respond to, the original claim from the court saying you owed the money.
            </p>

            <p>To get a judgment set aside, fill in <a target="_blank" href="https://www.gov.uk/government/publications/form-n244-application-notice">form N244</a> and send it to the court.
                You may have to pay a court fee of £255.</p>

            <p>You’ll have to go to a private hearing at the court to explain why you do not owe the money.
            </p>

        </div>

        <div class="govuk-grid-column-one-third">

            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Subsection
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a href="#">
                                Related link
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Related link
                            </a>
                        </li>
                        <li>
                            <a href="#" class="govuk-!-font-weight-bold">
                                More <span class="govuk-visually-hidden">in Subsection</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>

        </div>

    </div>
</main>
{% endblock %}
