{% extends "layout.html" %}

{% block pageTitle %}
Defendants guidance
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Business and self-employed</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Business debt and bankruptcy</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
<main role="main" id="content" class="guide">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Manage your debts
            </h1>

            <aside class="part-navigation-container" role="complementary">
                <nav role="navigation" class="gem-c-contents-list"
                     aria-label="Pages in this guide">
                    <p class="govuk-body-s">Contents</p>

                    <ol class="gem-c-contents-list__list">
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed "
                            aria-current="true">
                            <a class="gem-c-contents-list__link"
                               href="/defendant-guidance/index">Overview</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link"
                               href="/defendant-guidance/set-up-payment-plan">Set up a payment plan</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link"
                               href="/defendant-guidance/stop-bailiff-visit">Stop a bailiff visit</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
                            <span class="govuk-breadcrumbs__link">If you cannot keep up with payments</span>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
                            <a class="gem-c-contents-list__link "
                               href="/defendant-guidance/cannot-pay">If you cannot pay your debt</a>
                        </li>
                    </ol>

                </nav>
            </aside>

        </div>
        <div class="govuk-grid-column-two-thirds">

            <h1 class="part-title">
                If you cannot keep up with payments
            </h1>

            <p>You can ask the court to change the amount you must pay every month. To do this, fill in the <a
                    target="_blank"
                    href="https://www.gov.uk/government/publications/form-n245-application-for-suspension-of-a-warrant-and-or-variation-of-an-order">N245
                application form</a>.
            </p>

            <p>You’ll need to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>pay a £50 court fee unless you’re eligible for <a
                        href="https://www.gov.uk/get-help-with-court-fees">help with court fees</a></li>
                <li>give details of your financial situation</li>
                <li>state how much you can afford to pay each month</li>
            </ul>

            <p>The person or business you owe money to must agree to the new amount. If they do not, the court will
                decide on the amount you have to pay. The new amount might be higher than the amount you think is
                affordable. If you disagree with the decision you have 14 days to ask the courts to reconsider.</p>

            <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
                <ul class="gem-c-pagination__list" data-module="track-click">
                    <li class="gem-c-pagination__item gem-c-pagination__item--previous">
                        <a href="/defendant-guidance/stop-bailiff-visit" class="gem-c-pagination__link" rel="prev">
                            <span class="gem-c-pagination__link-title">
                                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13"
                                     width="17" viewBox="0 0 17 13">
                                  <path fill="currentColor"
                                        d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                                </svg>
                                <span class="gem-c-pagination__link-text">
                                  Previous
                                </span>
                            </span>
                            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                            <span class="gem-c-pagination__link-label">Stop a bailiff visit</span>
                        </a>
                    </li>
                    <li class="gem-c-pagination__item gem-c-pagination__item--next">
                        <a href="/defendant-guidance/cannot-pay" class="gem-c-pagination__link" rel="next">
                            <span class="gem-c-pagination__link-title">
                                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
                                     viewBox="0 0 17 13">
                                  <path fill="currentColor"
                                        d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                </svg>
                                <span class="gem-c-pagination__link-text">
                                  Next
                                </span>
                            </span>
                            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                            <span class="gem-c-pagination__link-label">If you cannot pay your debt</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="govuk-grid-column-one-third">

            <!--<aside class="app-related-items" role="complementary">-->
            <!--<h2 class="govuk-heading-m" id="subsection-title">-->
            <!--Subsection-->
            <!--</h2>-->
            <!--<nav role="navigation" aria-labelledby="subsection-title">-->
            <!--<ul class="govuk-list govuk-!-font-size-16">-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--Related link-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--Related link-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#" class="govuk-!-font-weight-bold">-->
            <!--More <span class="govuk-visually-hidden">in Subsection</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</nav>-->
            <!--</aside>-->

            <div class="gem-c-contextual-sidebar">

                <!-- Rendering related navigation sidebar because the page is tagged to mainstream browse -->

                <div class="gem-c-related-navigation">
                    <h2 id="related-nav-related_items-c6dde901" class="gem-c-related-navigation__main-heading"
                        data-track-count="sidebarRelatedItemSection">
                        Related content
                    </h2>


                    <nav role="navigation" class="gem-c-related-navigation__nav-section"
                         aria-labelledby="related-nav-related_items-c6dde901" data-module="gem-toggle">


                        <ul class="gem-c-related-navigation__link-list">

                            <li class="gem-c-related-navigation__link"><a
                                    class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other"
                                    href="https://www.gov.uk/respond-to-court-claim-for-money">Respond to a court claim
                                for money</a></li>

                        </ul>
                    </nav>


                    <nav role="navigation" class="gem-c-related-navigation__nav-section"
                         aria-labelledby="related-nav-topics-c6dde901" data-module="gem-toggle">

                        <h3 id="related-nav-topics-c6dde901" data-track-count="sidebarRelatedItemSection"
                            class="gem-c-related-navigation__sub-heading">
                            Explore the topic
                        </h3>

                        <ul class="gem-c-related-navigation__link-list" data-module="track-click">

                            <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link"
                                                                          href="https://www.gov.uk/browse/business/funding-debt">Business
                                and self-employed</a></li>

                        </ul>
                    </nav>

                </div>


            </div>

        </div>

    </div>
</main>
{% endblock %}
