{% extends "layout.html" %}
{% block pageTitle %}
    Civil Enforcement - writ of control application
{% endblock %}
{% block header %}
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
    {% from "phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
        tag: {
            text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}
    {% from "back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
        text: "Back",
        href: "/enforcement-selection/bailiffs"
    }) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">1 of 2</span>

            <h1 class="govuk-heading-l">Before you apply</h1>

            <p class="govuk-body-lead">You are about to apply for a High Court bailiff to collect money from Andrew
                Smith
                using a Writ of Control.</p>

            <p>Before applying you should consider if Andrew Smith will be able to pay the debt right now. You may not
                be able to get your money back if Andrew Smith:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>is a vulnerable person - has a physical disability or mental illness made worse by a bailiff visit
                </li>
                <li>does not have an income</li>
                <li>does not have any luxury items, such as a car</li>
            </ul>

            <a href="2" class="govuk-button">Continue</a>

        </div>
    </div>
{% endblock %}
