{% extends "layout.html" %}
{% block pageTitle %}
    Civil Enforcement - writ of control
{% endblock %}
{% block header %}
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
    {% from "phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
        tag: {
            text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}
    {% from "back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
        text: "Back",
        href: "7"
    }) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Question 4 of 4</span>

            <form action="check-answers" method="post" class="form">
                {% from "radios/macro.njk" import govukRadios %}
                {% from "input/macro.njk" import govukInput %}

                {{ govukRadios({
                    idPrefix: "how-contacted-conditional",
                    name: "how-contacted",
                    fieldset: {
                        legend: {
                            text: "Is this the right phone number to contact the defendant?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {
                        html: '
            <div class="panel panel-border-wide">
                <h3 class="heading-small">' + phone + '</h3>
            </div>
            <p>The High Court Enforcement Officers will try to phone Andrew Smith to ask for payment.</p>
            ',
                        stext: "Select one option."
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            value: "no",
                            text: "No, use a different phone number",
                            conditional: {
                            html: '
            <label class="govuk-label">Enter their mobile or home number</label>
            <input class="govuk-input govuk-input--width-10" name="amoutPaid" id="amountPaid"/>
            <!-- todo put address finder here -->
            '
                        }
                        }

                    ]
                }) }}

                <a href="add-contact-info"
                        class="govuk-button hmcts-button--secondary  hmcts-add-another__add-button  govuk-!-margin-bottom-4">
                    Add more contact details
                </a>
                <br>
                <button class="govuk-button">Continue</button>
            </form>

        </div>
    </div>
{% endblock %}
