{% extends "layout.html" %}
{% block pageTitle %}
Civil Enforcement - select writ of control type
{% endblock %}
{% block header %}
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "select-hceo"
}) }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Check your answers
        </h1>

        <!-- only add a heading for a list if there is more than one list -->
        <!--<h2 class="govuk-heading-m">-->
        <!--Debtor's details-->
        <!--</h2>-->

        <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
        <!--   * `app-check-your-answers--short` for short questions -->
        <!--   * `app-check-your-answers__questions-long` for long questions -->
        <!--   * none for single group of q&a -->
        <!--<dl class="app-check-your-answers app-check-your-answers&#45;&#45;short">-->


        <!--</dl>-->


        <h2 class="govuk-heading-m">
            Application details
        </h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Amount paid by defendant to date
                </dt>
                <dd class="app-check-your-answers__answer">
                    £0
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Amount to enforce
                </dt>
                <dd class="app-check-your-answers__answer">
                    £6609.21
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Address for bailiff visit
                </dt>
                <dd class="app-check-your-answers__answer">
                    72 Guild Street<br>
                    London<br>
                    SE23 6FH
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="#">
                        Change<span class="govuk-visually-hidden"> home address</span>
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Contact details for defendant
                </dt>
                <dd class="app-check-your-answers__answer">
                    {% for detail in contactDetails %}
                    {{ detail.type }}: {{detail.value}} </br>
                    {% endfor %}
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="8">
                        Change<span class="govuk-visually-hidden"> home address</span>
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Bailiff
                </dt>
                <dd class="app-check-your-answers__answer">
                    None chosen - court to select

                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="#">
                        Change<span class="govuk-visually-hidden"></span>
                    </a>
                </dd>
            </div>


        </dl>


        <h2 class="govuk-heading-m">Submit your application</h2>

        <div class="govuk-form-group">
            <div class="govuk-checkboxes" data-module="checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="citizen" type="checkbox"
                           value="email" data-aria-controls="conditional-citizenship-conditional-1">
                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
                        I understand that by submitting this application for a writ of control, I am confirming that, to the best of my knowledge,
                        the details I am providing are correct.
                    </label>
                </div>
            </div>
        </div>

        <a class="govuk-button" href="../payment" role="button">
            Submit and continue to payment (£66)
        </a>

    </div>
</div>
{% endblock %}
