// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/step-by-step-list";

// Components that aren't in Frontend
@import "components/bloat";
@import "components/page-flow";
@import "components/cookie-banner";
@import "components/spinners";
@import "components/utilities";
@import "components/pay";
@import "components/animations";
@import "components/cmc-dashboard";
@import "components/jui";

@import "node_modules/@hmcts/frontend/all";


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

//for UR sessions, disabling visited styles usually helps:
.govuk-link:visited, a:visited {
  color: #005ea5;
}

.hmcts-button--secondary {
  background-color: #dee0e2;
  box-shadow: 0 2px 0 rgba(111, 119, 123, 0.7);
  color: #0b0c0c;
  &:hover, &:focus {
    background-color: rgba(191, 193, 195, 0.7);
    color: #0b0c0c;
  }
}
