{% extends "email-layout.html" %}

{% block content %}

    <h1 style="margin: 0 0 30px ; font-size: 36px">Apply for a County Court judgment</h1>

    <p>Dear Sam Green,</p>

    <p>It has been 14 days since your money claim. If Andrew Smith has not paid their debt you can now apply to register a county court judgment (CCJ).</p>

    <p>A CCJ orders Andrew Smith to pay you. It will stay on their credit history for 6 years if they do not pay within 1 month of the judgment.</p>

    <p>If you still do not get your money back, you can then apply for the court to collect your money, known as enforcing a judgment.</p>

    <p><a href="/v2/dashboard/case" class="govuk-button">Apply to register a CCJ</a></p>

    <p>Regards, RUMC (Resolve an unpaid money claim)</p>

{% if phoneAlert === 'true' %}
    {% include 'includes/phone-alert.html' %}
{% endif %}

{% endblock %}