{% if dashboardType === 'claimant' %}
    {% if CCJrequested === 'true' %}

    {% endif %}
{% else %}

    {% if CCJapproved === 'true' %}


        {% from "warning-text/macro.njk" import govukWarningText %}

        {{ govukWarningText({
          text: "A County Court Judgment (CCJ) has been registered against you",
          iconFallbackText: "Warning"
        }) }}


    {% elseif writApproved === 'true' %}

        <p>A writ of control has been issued.</p>

    {% else %}

    {% endif %}

{% endif %}
