{% extends "layout.html" %}
{% block pageTitle %}
    Verify a court order
{% endblock %}
{% block header %}
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
    {% from "phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
        tag: {
            text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% if hasErrors %}
                {% from "error-summary/macro.njk" import govukErrorSummary %}

                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                            text: "You need to choose how you want the court to collect your money",
                            href: "#"
                        }
                    ]
                }) }}
            {% endif %}
            <h1 class="govuk-heading-xl">Verify a court order</h1>
            <p>Fill in the form to check if a court order is valid.</p>
            <form action="" method="post" class="form">
                <div class="govuk-form-group">
                    {% from "input/macro.njk" import govukInput %}

                    {{ govukInput({
                        label: {
                            text: "Claim number"
                        },
                        hint: {
                            stext: "You can find this in the details section"
                        },
                        id: "name",
                        name: "name",
                        classes: "govuk-input--width-20"
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Your postcode"
                        },
                        hint: {
                            stext: "You can find this above your address details"
                        },
                        id: "name",
                        name: "name",
                        classes: "govuk-input--width-10"
                    }) }}

                </div>

                <button class="govuk-button">Verify</button>
            </form>

        </div>
    </div>
{% endblock %}
