{% extends "layout.html" %}
{% block pageTitle %}
    Check the authenticity of a writ of control
{% endblock %}
{% block header %}
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
    {% from "phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
        tag: {
            text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Service name goes here</h1>

            <p class="govuk-body">Use this service to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>do something</li>
                <li>update your name, address or other details</li>
                <li>do something else</li>
            </ul>

            <p class="govuk-body">Registering takes around 5 minutes.</p>

            {{ govukButton({
                text: "Start now",
                href: "questions",
                classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
            }) }}

            <h2 class="govuk-heading-m">Before you start</h2>

            <p class="govuk-body">You can also <a class="govuk-link" href="#">register by post</a>.</p>

            <p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>

            <p class="govuk-body">You can’t register for this service if you’re in the UK illegally.</p>
        </div>

        </div>
    </div>
{% endblock %}
