{% extends "layout.html" %}

{% block pageTitle %}
    Civil Enforcement prototypes
{% endblock %}

{% block content %}

    <div class="govuk-grid-row" id="page-flow">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-header">Sprint {{ sprint }}</span>
            <h2 class="govuk-heading-l">
                <p>{{ thisPage.title }}</p>
                <p>{{ thisPage.description }}</p>
                <iframe src="/{{ location }}" frameborder="0"></iframe>
            </h2>



            {% for feedback in theStageUR %}
                <p>{{feedback}}</p>
            {% endfor %}

        </div>
    </div>

{% endblock %}
