{% extends "layout.html" %}

{% block pageTitle %}
    Civil Enforcement prototypes
{% endblock %}

{% block content %}

    <div class="govuk-grid-row" id="page-flow">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-header">Sprint {{ sprint }}</span>
            <span class="govuk-header">Stage: {{ thisStage.name }}</span>
            <h2 class="govuk-heading-l">
                <p>{{ thisPage.title }}</p>
                <p>{{ thisPage.description }}</p>
            </h2>

            <div class="screenPreviewContainer">
                <iframe src="/{{ location }}" class="screenPreview" frameborder="0"></iframe>
            </div>

            {% if navigation.prev !== false %}
                <p><a href="{{ navigation.prev }}">Previous</a></p>
            {% endif %}
            {% if navigation.next !== false %}
                <p><a href="{{ navigation.next }}">Next</a></p>
            {% endif %}

            {% for feedback in theStageUR %}
                <p>{{ feedback }}</p>
            {% endfor %}

        </div>
    </div>

{% endblock %}
