{% extends "layout.html" %}

{% block pageTitle %}
HCEOs - 13/11/2018
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

        {{ govukBreadcrumbs({
        items: [
        {
        text: "Home",
        href: "/"
        },
        {
        text: "User research",
        href: "/ur/"
        },
        {
        text: "13-11-2018"
        }
        ]
        }) }}

        <h2 class="govuk-heading-l">
            <span class="govuk-caption-xl">Sprint 4</span>
            13th November 2018
        </h2>

        <p>
            This is a prototype that allows the civil enforcement team to test ideas and for research purposes. It is
            not a working software.
        </p>

        <!--<h3 class="govuk-heading-s">HCEOs</h3>-->

        <ul class="govuk-list govuk-list--number">
            <li><a href="/dashboard/case" target="_blank">Dashboard - start point - must request CCJ</a></li>
            <li><a href="/dashboard/case?CCJrequested=true" target="_blank">Dashboard - CCJ requested</a></li>
            <li><a href="/dashboard/case?CCJapproved=true" target="_blank">Dashboard - CCJ approved</a></li>
            <!--<li><a href="/dashboard/case?writApproved=true" target="_blank">Dashboard - Writ approved but not ready (necessary?)</a></li>-->
            <li><a href="/dashboard/case?writApproved=true&writReady=true" target="_blank">Dashboard - Writ approved and ready to serve (necessary?)</a></li>
            <li><a href="/dashboard/case?writServed=true" target="_blank">Dashboard - Writ served</a></li>
        </ul>

    </div>
</div>

{% endblock %}
