{% extends "layout.html" %}

{% block pageTitle %}
Defendant guidance - 25/10/2018
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

        {{ govukBreadcrumbs({
        items: [
        {
        text: "Home",
        href: "/"
        },
        {
        text: "User research",
        href: "/ur/"
        },
        {
        text: "25-10-2018"
        }
        ]
        }) }}

        <h2 class="govuk-heading-l">
            <span class="govuk-caption-xl">Sprint 3</span>
            25th October 2018
        </h2>

        <p>
            This is a prototype that allows the civil enforcement team to test ideas and for research purposes. It is
            not a working software.
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/defendant-guidance/">Defendant guidance</a></li>
            <li><a href="#">Covering letter</a></li>
            <li><a href="/public/pdf/Writ%20of%20control%20UR.pdf">Digital writ</a></li>
        </ul>
    </div>
</div>

{% endblock %}
