{% extends "layout.html" %}

{% block pageTitle %}
    Defendants - 27/11/2018
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

            {{ govukBreadcrumbs({
                items: [
                    {
                        text: "Home",
                        href: "/"
                    },
                    {
                        text: "User research",
                        href: "/ur/"
                    },
                    {
                        text: "27-11-2018"
                    }
                ]
            }) }}

            <h2 class="govuk-heading-l">
                <span class="govuk-caption-xl">Sprint 5</span>
                27th November 2018
            </h2>

            <p>
                This is a prototype that allows the civil enforcement team to test ideas and for research purposes. It
                is
                not a working software.
            </p>

            <h3 class="govuk-heading-s">Defendants</h3>

            <ul class="govuk-list govuk-list--number">
                <li>Defendant notifications
                    <ol class="govuk-list govuk-list--bullet">
                        <li><a href="/v2/notifications/defendant/email1" target="_blank">'CMC' email</a></li>
                        <li><a href="/v2/notifications/defendant/email2" target="_blank">'Writ of control' email</a></li>
                        <li><a href="/public/pdf/CCJ%20letter.pdf" target="_blank">'CCJ' Letter</a></li>
                    </ol>
                </li>
                <li>Defendant dashboard views
                    <ol class="govuk-list govuk-list--bullet">
                        <li><a href="/v2/dashboard/defendant/case" target="_blank">Early engagement</a></li>
                        <li><a href="/v2/dashboard/defendant/case?CCJapproved=true" target="_blank">CCJ issued</a></li>
                        <li><a href="/v2/dashboard/defendant/case?writApproved=true" target="_blank">Writ issued</a></li>
                    </ol>
                </li>
                <li>Writ authenticity checker
                    <ol class="govuk-list govuk-list--bullet">
                        <li><a href="/v2/check-writ" target="_blank">Start</a></li>
                        <li><a href="/v2/check-writ/questions" target="_blank">Questions</a></li>
                        <li><a href="/v2/check-writ/confirmation-page" target="_blank">Confirmation page</a></li>
                    </ol>
                </li>
                <li>Misc
                    <ol class="govuk-list govuk-list--bullet">
                        <li><a href="https://sketch.cloud/s/dkpQL/R1M1052/play" target="_blank">Sketch demo of how SMS might look on iOS</a></li>
                        <li><a href="/public/pdf/sprint5/27-11-2018%20Defendant%20Flow.pdf" target="_blank">Flow diagram</a></li>
                    </ol>
                </li>
            </ul>

        </div>
    </div>

{% endblock %}
