{% extends "layout.html" %}

{% block pageTitle %}
HCEOs - 8/11/2018
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

        {{ govukBreadcrumbs({
        items: [
        {
        text: "Home",
        href: "/"
        },
        {
        text: "User research",
        href: "/ur/"
        },
        {
        text: "8-11-2018"
        }
        ]
        }) }}

        <h2 class="govuk-heading-l">
            <span class="govuk-caption-xl">Sprint 4</span>
            8th November 2018
        </h2>

        <p>
            This is a prototype that allows the civil enforcement team to test ideas and for research purposes. It is
            not a working software.
        </p>

        <!--<h3 class="govuk-heading-s">HCEOs</h3>-->
        <ul class="govuk-list govuk-list--number">
            <li><a href="/public/pdf/Storyboard%20Writ.pdf" target="_blank">Storyboard slide deck</a></li>
        </ul>

    </div>
</div>

{% endblock %}
