{% extends "layout.html" %}

{% block pageTitle %}
UR session archive
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

        {{ govukBreadcrumbs({
          items: [
            {
              text: "Home",
              href: "/"
            },
            {
              text: "User research"
            }
          ]
        }) }}

        <h2 class="govuk-heading-l">
            <!--<span class="govuk-caption-xl">Sprint 3</span>-->
            Civil enforcement prototype
        </h2>

        <p>
            This is a prototype that allows the civil enforcement team to test ideas and for research purposes. It is
            not a working software.
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/ur/8-11-2018">8 November 2018</a></li>
            <li><a href="/ur/29-10-2018">29 October 2018</a></li>
            <li><a href="/ur/25-10-2018">25 October 2018</a></li>
        </ul>
    </div>
</div>

{% endblock %}
