{% extends "email-layout-HCEO.html" %}

{% block content %}

<h1 style="font-size: 30px; color: red;">ABC Bailiffs LTD</h1>

<p>Dear Sam Green,</p>

<p>ABC Bailiffs have successfully set up a payment plan with Andrew Smith.</p>

<p>You will receive £600 in 3 separate instalments during the next 3 months.</p>

<p>If you do not receive all 3 payments please let us know</p>

<p>If you are happy with the service you received, please leave us a review on TrustPilot.</p>

<!--<img src="https://images.genius.com/6fc751aad52bcf07a0a690763d4bcc92.500x282x14.gif" />-->

<p>Thank you for your business,</p>

<p>ABC Bailiffs</p>

{% endblock %}