$icons: '../images/page-flow/page-types';

.page-flow--stages {
  @extend .govuk-body;

}

.page-flow--pages {
  @extend .govuk-body;
  .page-flow-item--page {
    display: inline-block;
    font-size: 14px;
    .page-flow-item-screen-icon {
      width: 100px;
      height: 120px;
      display: block;
      background-repeat: no-repeat;
     &--text-input {
       background-image: url($icons + '/text-input.svg');
       -webkit-background-size: contain;
       background-size: contain;
     }
      &--dashboard, &--content-page {
        background-image: url($icons + '/content-page.svg');
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
  }
}