{% if writServed === 'true' %}

<h3 class="govuk-heading-s" {% if simulateTimePassing === 'true' %}id="showEmailFromHCEO"{% endif %}>Writ of Control sent to High Court bailiff</h3>

<p>You've sent the Writ of Control to ABC Bailiffs Ltd. They will now attempt to collect £6543.21 from {{defendant}}.</p>

<h3 class="govuk-heading-s">Cancel the Writ of Control</h3>
<p><a href="#">Cancel the Writ of Control</a> if {{defendant}} has paid their debt or set up a payment plan.</p>

<!--<p>Cancel action?</p>-->
    {% if simulateTimePassing === 'true' %}
        {% include 'includes/days-passing.html' %}
    {% endif %}


{% elseif writReady !== 'true' %}

<h3 class="govuk-heading-s">Writ successful - cannot serve yet?</h3>

<p>In 7 days, you can serve ABC Bailiffs Ltd and they will attempt to retrieve £6543.21 from {{defendant}}.</p>

{% else %}

<h3 class="govuk-heading-s">Writ successful - you can serve now</h3>

<p>If you serve the writ of control, the bailiff will go to {{defendant}}'s address to see if they can get the debt paid in full. If that’s not possible the bailiff will see if they have any possessions that the bailiff can sell at auction.</p>

<a href="#" class="govuk-button">Serve bailiffs</a>

{% endif %}