{% if writApproved === 'true' %}

    <h3 class="govuk-heading-s">Serve bailiffs</h3>
    {% if writReady !== 'true' %}

    <p>In 7 days, you can serve ABC Bailiffs Ltd and they will attempt to retrieve £6543.21 from Andrew Smith.</p>

    {% else %}

<p>If you serve the writ of control, the bailiff will go to Andrew Smith' address to see if they can get the debt paid in full. If that’s not possible the bailiff will see if they have any possessions that the bailiff can sell at auction.</p>
    <a href="#" class="govuk-button">Serve bailiffs</a>
    {% endif %}
{% endif %}

{% if enforcement !== 'true' and writApproved !== 'true'%}

    <h3 class="govuk-heading-s">If Andrew Smith doesn't pay</h3>

    <p>You can apply to have <a href="/enforcement-selection/">the court collect your money</a>.</p>


    <p>There is no guarantee that the court will be able get your money back. If the court cannot collect payment you will
        be responsible for all enforcement fees.</p>
    <!--todo this is no guarantee of payment-->

{% endif %}

<h3 class="govuk-heading-s">Cancel your claim</h3>

<p>
    You can <a href="#">cancel your claim</a>. For example, if you’ve been paid or don’t want to continue your case
    against the defendant.
</p>
