{% if CCJrequested === 'true' %}

    {% include 'dashboard/includes/content/ccj-requested.html' %}

{% elseif CCJapproved === 'true' %}

    {% include 'dashboard/includes/content/next-step-enforcement.html' %}

{% elseif writApproved === 'true' %}

    {% include 'dashboard/includes/content/next-step-writApproved.html' %}

{% elseif writApproved !== 'true' and CCJapproved === 'true' %}

    {% include 'dashboard/includes/content/next-step-enforcement.html' %}

{% elseif writServed === 'true' %}

    {% include 'dashboard/includes/content/next-step-writServed.html' %}

{% else %}

    {% include 'dashboard/includes/content/next-step-ccj.html' %}

{% endif %}

<div class="status-block govuk-footer__heading"></div>

<h3 class="govuk-heading-s">Settling the claim</h3>

<p>If the defendant has paid you, <a href="#">you need to tell us</a>.</p>

<!--<p>-->
    <!--You can <a href="#">cancel your claim</a>. For example, if you’ve been paid or don’t want to continue your case-->
    <!--against the defendant.-->
<!--</p>-->
