<div class="govuk-grid-column-one-third">
    <div class="meta-data">
        <h3 class="govuk-heading-m" style="padding-top: 50px">About claim</h3>
        <ul role="navigation" class="govuk-list list-bullet">
            <li><strong class="bold">Defendant name:</strong><br> <a href="#">Andrew Smith</a>
            </li>

            <li><strong class="bold">Claim amount:</strong><br>£6543.21</li>
            <!--todo amount should include £66 writ fee -->
            <li><strong class="bold">Claim details:</strong><br><a href="#">Download claim</a></li>

        </ul>
    </div>
</div>