{% extends "layout.html" %}
{% block pageTitle %}
    Stay a writ of control - select type
{% endblock %}
{% block header %}
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
    {% from "phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
        tag: {
            text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% from "back-link/macro.njk" import govukBackLink %}

            {{ govukBackLink({
              text: "Back",
              href: "javascript: history.back()"
            }) }}

            {% if hasErrors %}
                {% from "error-summary/macro.njk" import govukErrorSummary %}

                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                            text: "You need to choose how you want the court to collect your money",
                            href: "#"
                        }
                    ]
                }) }}
            {% endif %}
            {#<h1 class="govuk-heading-xl">Stay a writ</h1>#}

            <form action="2" method="post" class="form">
                <div class="govuk-form-group">
                   {% from "radios/macro.njk" import govukRadios %}

                   {{ govukRadios({
                     classes: "govuk-radios--inline",
                     idPrefix: "changed-name",
                     name: "changed-name",
                     fieldset: {
                       legend: {
                         text: "What do you want to do?",
                         isPageHeading: true,
                         classes: "govuk-fieldset__legend--xl"
                       }
                     },
                     hint: {
                       text: "You can only stop a Writ of Control by varying or setting aside a County Court Judgment (CCJ)."
                     },
                     items: [
                       {
                         value: "vary",
                         text: "Change the amount it says I owe on my CCJ"
                       },
                       {
                         value: "set-aside",
                         text: "Cancel my CCJ (set aside a CCJ)"
                       }
                     ]
                   }) }}
                </div>

                <button class="govuk-button">Continue</button>
            </form>

        </div>
    </div>
{% endblock %}
