{% extends "layout.html" %}

{% block pageTitle %}
    Security layer - access to claim details
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

    {% from "phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
        tag: {
            text: "Alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Security questions</span>
            <h1 class="govuk-heading-l heading-large">
                Enter your access code
            </h1>

            <p></p>

            <form action="" method="post" class="form">
                <div class="govuk-form-group">

                    {% from "input/macro.njk" import govukInput %}

                    {{ govukInput({
                        label: {
                            text: "Phone number",
                            classes: 'govuk-visually-hidden'
                        },
                        hint: {
                            text: "We have sent a 6-digit access code to your mobile phone number"
                        },
                        id: "claimNo",
                        name: "claimNo",
                        classes: "govuk-input--width-10"
                    }) }}

                </div>

                <p><a href="#">I did not receive an access code</a></p>
                <button class="govuk-button">Continue</button>
            </form>

        </div>

    </div>

    {% include 'v2/includes/phone-alert-access-code.html' %}


{% endblock %}