{% extends "email-layout.html" %}

{% block content %}

<h1 style="margin: 0 0 30px ; font-size: 36px">Writ of Control approved</h1>

<p>Dear Sam Green,</p>

<p>Your application for a Writ of Control has been approved by the High Court.</p>

<p>Log in to your account at <a href="/dashboard/case?writApproved=true&writReady=true">https://www.gov.uk/resolve-unpaid-claim</a> to:</p>

<ul class="list-bullet list">
    <li>download a copy of the Writ of Control</li>
    <li>send the Writ of Control to an HCEO</li>
</ul>

<p>Regards, RUMC (Resolve an unpaid money claim)</p>

    {# todo - notify claimant that defendant has also been informed? #}

{% endblock %}