{% extends "layout.html" %}

{% block pageTitle %}
Claimants guidance
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% include 'claimant-guidance/includes/breadcrumb.html' %}
{% endblock %}

{% block content %}
<main role="main" id="content" class="guide">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                If you do not get your money back
            </h1>

            <aside class="part-navigation-container" role="complementary">
                <nav role="navigation" class="gem-c-contents-list  " data-module="track-click"
                     aria-label="Pages in this guide">
                    <p class="govuk-body-s">Contents</p>

                    <ol class="gem-c-contents-list__list">
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link " href="/claimant-guidance/index">Overview</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link " href="/claimant-guidance/order-to-obtain-information-on-finances">
                                Get an Order to Obtain Information on finances
                            </a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link " href="/claimant-guidance/send-bailiffs-to-collect-payment">Send bailiffs to collect payment</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <span class="govuk-breadcrumbs__link">Get money deducted from wages</span>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link "
                               href="/claimant-guidance/freeze-assets-or-money-in-account">Freeze assets or money in an account
                            </a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link " href="/claimant-guidance/charge-debtors-land-or-property">Charge the debtor’s land or property</a>
                        </li>
                    </ol>
                </nav>

            </aside>
        </div>
        <div class="govuk-grid-column-two-thirds">

            <h2 class="part-title">
                Get money deducted from wages</h2>

            <p>You can ask the court to send an order to their employer ordering the employer to take money from their wages. This is often called an attachment of earnings order.</p>

            <p>You can only:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>claim your money back if they earn over the protected earnings rate</li>
                <li>apply for an attachment of earnings order if you have their employer’s details</li>
            </ul>

            <p>The court fee is £110.</p>

            <p>Download and fill in a request for an <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=567">attachment of earnings order form N337</a>.</p>

            <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
                <ul class="gem-c-pagination__list" data-module="track-click">
                    <li class="gem-c-pagination__item gem-c-pagination__item--previous">
                        <a href="/claimant-guidance/send-bailiffs-to-collect-payment" class="gem-c-pagination__link" rel="prev">
                            <span class="gem-c-pagination__link-title">
                                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                  <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                                </svg>
                                <span class="gem-c-pagination__link-text">
                                  Previous
                                </span>
                            </span>
                            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                            <span class="gem-c-pagination__link-label">Send bailiffs to collect payment</span>
                        </a>
                    </li>
                    <li class="gem-c-pagination__item gem-c-pagination__item--next">
                        <a href="/claimant-guidance/freeze-assets-or-money-in-account" class="gem-c-pagination__link" rel="next">
                            <span class="gem-c-pagination__link-title">
                                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
                                     viewBox="0 0 17 13">
                                  <path fill="currentColor"
                                        d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                </svg>
                                <span class="gem-c-pagination__link-text">
                                  Next
                                </span>
                            </span>
                            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                            <span class="gem-c-pagination__link-label">Freeze assets or money in an account</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="govuk-grid-column-one-third">
            {% include 'includes/related-guidance.html' %}
        </div>

    </div>
</main>
{% endblock %}
