{% extends "layout.html" %}

{% block pageTitle %}
Defendants guidance - step by step
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Money and tax</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Court claims, debt and bankruptcy</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
<main role="main" id="content" class="guide">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Manage your debts: step by step
            </h1>

            <div data-module="gemstepnav" class="gem-c-step-nav gem-c-step-nav--large gem-c-step-nav--active"
                 data-remember="" data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="show"
                 data-hide-text="hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
                <div class="gem-c-step-nav__controls">
                    <button aria-expanded="false"
                            class="gem-c-step-nav__button gem-c-step-nav__button--controls js-step-controls-button"
                            aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all
                    </button>
                </div>
                <ol class="gem-c-step-nav__steps">
                    <li class="gem-c-step-nav__step js-step" id="respond-to-a-court-claim-for-money"
                        data-track-count="stepNavSection">
                        <div class="gem-c-step-nav__header js-toggle-panel" data-position="1">
                            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 1<span
                          class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                <span class="js-step-title"><button
                                        class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                                        aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1"><span
                                        class="js-step-title-text">
                Respond to a court claim for money

              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">show</span></button></span>
                            </h2>
                        </div>

                        <div class="gem-c-step-nav__panel js-panel js-hidden"
                             id="step-panel-check-youre-allowed-to-drive-1">
                            <p class="gem-c-step-nav__paragraph">Most people can start learning to drive when they’re
                                17.</p>

                            <ol class="gem-c-step-nav__list " data-length="3">
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.1"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/vehicles-can-drive?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Check
                                    what age you can drive </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.2"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/legal-obligations-drivers-riders?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Requirements
                                    for driving legally </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.3"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/driving-eyesight-rules?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Driving
                                    eyesight rules </a></li>
                            </ol>

                        </div>

                    </li>
                    <li class="gem-c-step-nav__step js-step" id="county-court-judgments"
                        data-track-count="stepNavSection">
                        <div class="gem-c-step-nav__header js-toggle-panel" data-position="2">
                            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 2<span
                          class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                <span class="js-step-title"><button
                                        class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                                        aria-expanded="false"
                                        aria-controls="step-panel-get-a-provisional-licence-2"><span
                                        class="js-step-title-text">
                County court judgments
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">show</span></button></span>
                            </h2>
                        </div>

                        <div class="gem-c-step-nav__panel js-panel js-hidden"
                             id="step-panel-get-a-provisional-licence-2">
                            <ol class="gem-c-step-nav__list " data-length="1">
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.1"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/apply-first-provisional-driving-licence?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Apply
                                    for your first provisional driving licence <span class="gem-c-step-nav__context">£34 to £43</span></a>
                                </li>
                            </ol>

                        </div>

                    </li>
                    <li class="gem-c-step-nav__step js-step" id="liability-orders"
                        data-track-count="stepNavSection">
                        <div class="gem-c-step-nav__header js-toggle-panel" data-position="3">
                            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 3<span
                          class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                <span class="js-step-title"><button
                                        class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                                        aria-expanded="false" aria-controls="step-panel-driving-lessons-and-practice-3"><span
                                        class="js-step-title-text">
                Liability orders
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">show</span></button></span>
                            </h2>
                        </div>

                        <div class="gem-c-step-nav__panel js-panel js-hidden"
                             id="step-panel-driving-lessons-and-practice-3">
                            <p class="gem-c-step-nav__paragraph">You need a provisional driving licence to take lessons
                                or practice.</p>

                            <ol class="gem-c-step-nav__list " data-length="4">
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.1"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/guidance/the-highway-code?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">The
                                    Highway Code </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.2"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/driving-lessons-learning-to-drive?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Taking
                                    driving lessons </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.3"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/find-driving-schools-and-lessons?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Find
                                    driving schools, lessons and instructors </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.4"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/government/publications/car-show-me-tell-me-vehicle-safety-questions?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Practise
                                    vehicle safety questions </a></li>
                            </ol>

                        </div>

                    </li>
                    <li class="gem-c-step-nav__step js-step" id="options-for-paying-off-your-debt"
                        data-track-count="stepNavSection">
                        <div class="gem-c-step-nav__header js-toggle-panel" data-position="5">
                            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 4<span
                          class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                <span class="js-step-title"><button
                                        class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                                        aria-expanded="false"
                                        aria-controls="step-panel-book-and-manage-your-theory-test-5"><span
                                        class="js-step-title-text">
                Options for paying off your debt
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">show</span></button></span>
                            </h2>
                        </div>

                        <div class="gem-c-step-nav__panel js-panel js-hidden"
                             id="step-panel-book-and-manage-your-theory-test-5">
                            <p class="gem-c-step-nav__paragraph">You need a provisional driving licence to book your
                                theory test.</p>

                            <ol class="gem-c-step-nav__list " data-length="5">
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.1"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/book-theory-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Book
                                    your theory test <span class="gem-c-step-nav__context">£23</span></a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.2"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/theory-test/what-to-take?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">What
                                    to take to your test </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.3"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/change-theory-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Change
                                    your theory test appointment </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.4"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/check-theory-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Check
                                    your theory test appointment details </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.5"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/cancel-theory-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Cancel
                                    your theory test </a></li>
                            </ol>

                        </div>

                    </li>
                    <li class="gem-c-step-nav__step js-step" id="court-action"
                        data-track-count="stepNavSection">
                        <div class="gem-c-step-nav__header js-toggle-panel" data-position="5">
                            <h2 class="gem-c-step-nav__title">
                                  <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                                    <span class="gem-c-step-nav__circle-inner">
                                      <span class="gem-c-step-nav__circle-background">
                                          <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 5<span
                                              class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                                      </span>
                                    </span>
                                  </span>

                                <span class="js-step-title"><button
                                        class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                                        aria-expanded="false"
                                        aria-controls="court-action-5"><span
                                        class="js-step-title-text">
                                    Court action
                                </span>
                                <span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span></button></span>
                            </h2>
                        </div>

                        <div class="gem-c-step-nav__panel js-panel js-hidden"
                             id="court-action-5">
                            <p class="gem-c-step-nav__paragraph">You need a provisional driving licence to book your
                                theory test.</p>

                            <ol class="gem-c-step-nav__list " data-length="5">
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.1"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/book-theory-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Book
                                    your theory test <span class="gem-c-step-nav__context">£23</span></a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.2"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/theory-test/what-to-take?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">What
                                    to take to your test </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.3"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/change-theory-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Change
                                    your theory test appointment </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.4"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/check-theory-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Check
                                    your theory test appointment details </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.5"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/cancel-theory-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Cancel
                                    your theory test </a></li>
                            </ol>

                        </div>

                    </li>
                    <li class="gem-c-step-nav__step js-step" id="if-you-cannot-keep-up-with-payments"
                        data-track-count="stepNavSection">
                        <div class="gem-c-step-nav__header js-toggle-panel" data-position="6">
                            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 6<span
                          class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                <span class="js-step-title"><button
                                        class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                                        aria-expanded="false"
                                        aria-controls="step-panel-book-and-manage-your-driving-test-6"><span
                                        class="js-step-title-text">
                If you cannot keep up with payments

              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">show</span></button></span>
                            </h2>
                        </div>

                        <div class="gem-c-step-nav__panel js-panel js-hidden"
                             id="step-panel-book-and-manage-your-driving-test-6">
                            <p class="gem-c-step-nav__paragraph">You must pass your theory test before you can book your
                                driving test.</p>

                            <ol class="gem-c-step-nav__list " data-length="5">
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="6.1"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/book-driving-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Book
                                    your driving test <span class="gem-c-step-nav__context">£62 to £75</span></a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="6.2"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/driving-test/what-to-take?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">What
                                    to take to your test </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="6.3"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/change-driving-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Change
                                    your driving test appointment </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="6.4"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/check-driving-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Check
                                    your driving test appointment details </a></li>
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="6.5"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/cancel-driving-test?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Cancel
                                    your driving test </a></li>
                            </ol>

                        </div>

                    </li>
                    <li class="gem-c-step-nav__step js-step" id="if-you-cannot-pay-your-debts" data-track-count="stepNavSection">
                        <div class="gem-c-step-nav__header js-toggle-panel" data-position="7">
                            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 7<span
                          class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                <span class="js-step-title"><button
                                        class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                                        aria-expanded="false" aria-controls="step-panel-when-you-pass-7"><span
                                        class="js-step-title-text">
                If you cannot pay your debts
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">show</span></button></span>
                            </h2>
                        </div>

                        <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">
                            <p class="gem-c-step-nav__paragraph">You can start driving as soon as you pass your driving
                                test.</p>

                            <p class="gem-c-step-nav__paragraph">You must have an insurance policy that allows you to
                                drive without supervision.</p>

                            <ol class="gem-c-step-nav__list " data-length="1">
                                <li class="gem-c-step-nav__list-item js-list-item "><a data-position="7.1"
                                                                                       class="gem-c-step-nav__link js-link"
                                                                                       href="/pass-plus?step-by-step-nav=e01e924b-9c7c-4c71-8241-66a575c2f61f">Find
                                    out about Pass Plus training courses </a></li>
                            </ol>

                        </div>

                    </li>
                </ol>
            </div>

        </div>

        <div class="govuk-grid-column-one-third">

            {% include 'includes/related-guidance-defendants.html' %}

        </div>

    </div>
</main>
{% endblock %}
