{% extends "layout.html" %}
{% block page_title %}
GOV.UK Pay - confirm payment
{% endblock %}
{% block home_link %} index {% endblock %}
{% block proposition_header %}
{% set my_account="1" %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}
{% block content %}

{% import "GOVUK-pay/includes/card-payment-confirm.html" as confirm %}

    <div class="govuk-grid-row review-details">
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "enter-card"
}) }}
        <h1 class="govuk-heading-xl">
            Confirm your payment
        </h1>

        {{ confirm.form('issue') }}

    </div>

{% endblock %}
