{% extends "layout.html" %}
{% block pageTitle %}
    Stay a writ of control - application complete
{% endblock %}
{% block header %}
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set mainClasses = "govuk-main-wrapper--l" %}

        {% from "panel/macro.njk" import govukPanel %}

        {{ govukPanel({
        titleText: "Application to set aside CCJ complete",
        html: "Your reference number<br><strong>STYWOCJ2123F</strong>"
        }) }}

        {#<p class="govuk-body">We have sent you a confirmation email.</p>#}

        <h3 class="govuk-heading-m">Next steps</h3>

        <p class="govuk-body">
        <h3 class="govuk-heading-s">Government guidance on managing your debt</h3>

        <p><a href="https://www.gov.uk/manage-your-debts">Find out how to manage your debt</a>, such as setting up a payment plan or applying to change a court order.
        </p>

        <h3 class="govuk-heading-s">Your rights when a bailiff visits </h3>

        <p> There are rules on what a bailiff can take and how they can enter your home or business.
            <a href="https://www.gov.uk/your-rights-bailiffs">Find out what your rights when a bailiff visits</a>.</p>


        {#<p><a href="/v2/dashboard/case?writApproved=true&writReady=true" class="govuk-button">Go to your account</a></p>#}

        <!--<p class="govuk-body">-->
            <!--<a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)-->
        <!--</p>-->
    </div>
</div>

    {% if simulateTimePassing === 'true' %}
        {% from "includes/days-passing.njk" import daysPassing %}
        {{ daysPassing({
            url: '/public/pdf/sprint5/NoE%20letter.pdf',
            timeToPrompt: 5000,
            days: 7
        }) }}
    {% endif %}

{% endblock %}
