{% if stepByStep === true %}

{% include 'defendant-guidance/includes/contextual-breadcrumb.html' %}

{% else %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Money and tax</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Court claims, debt and bankruptcy</a>
        </li>
    </ol>
</div>
{% endif %}