<div data-module="gemstepnav" class="gem-c-step-nav {% if stepByStepSubPage !== true %}gem-c-step-nav--large {% endif %}gem-c-step-nav--active"
     data-remember="" data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="show"
     data-hide-text="hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
    <div class="gem-c-step-nav__controls">
        <button aria-expanded="false"
                class="gem-c-step-nav__button gem-c-step-nav__button--controls js-step-controls-button"
                aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all</button>
    </div>
    <ol class="gem-c-step-nav__steps">
        <li class="gem-c-step-nav__step js-step {% if stepCat == 1 %}gem-c-step-nav__step--active step-is-shown{% endif %}" id="respond-to-a-court-claim-for-money"
            data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="1">
                <h2 class="gem-c-step-nav__title">
                              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                                <span class="gem-c-step-nav__circle-inner">
                                  <span class="gem-c-step-nav__circle-background">
                                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 1<span
                                          class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                                  </span>
                                </span>
                              </span>

                    <span class="js-step-title"><button
                            class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                            aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1"><span
                            class="js-step-title-text">
                Respond to a court claim for money

              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">{% if stepCat != 1 %}show{% else %}hide{% endif %}</span></button></span>
                </h2>
            </div>

            <div class="gem-c-step-nav__panel js-panel {% if stepCat != 1 %}js-hidden{% endif %}"
                 id="step-panel-check-youre-allowed-to-drive-1">

                <ol class="gem-c-step-nav__list " data-length="3">
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.1"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/respond-to-court-claim-for-money">How to respond</a></li>
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.2"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/respond-to-court-claim-for-money/pay-the-full-amount">Pay the full amount</a></li>
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.3"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/respond-to-court-claim-for-money/pay-some-of-the-money">Pay some of the money</a></li>
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.4"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/respond-to-court-claim-for-money/defend-the-claim">Defend the claim</a></li>
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.5"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/respond-to-court-claim-for-money/going-to-a-court-hearing">Going to a court hearing</a></li>
                </ol>

            </div>

        </li>
        <li class="gem-c-step-nav__step js-step {% if stepCat == 2 %}gem-c-step-nav__step--active step-is-shown{% endif %}" id="county-court-judgments"
            data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="2">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 2<span
                          class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title"><button
                            class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                            aria-expanded="false"
                            aria-controls="step-panel-get-a-provisional-licence-2"><span
                            class="js-step-title-text">
                County court judgments
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">{% if stepCat != 2 %}show{% else %}hide{% endif %}</span></button></span>
                </h2>
            </div>

            <div class="gem-c-step-nav__panel js-panel {% if stepCat != 2 %}js-hidden{% endif %}"
                 id="step-panel-get-a-provisional-licence-2">
                <ol class="gem-c-step-nav__list " data-length="1">
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.1"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/county-court-judgments-ccj-for-debt/if-you-dont-owe-the-money">If you do not owe the money - cancel the judgment</a>
                    </li>
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.2"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/county-court-judgments-ccj-for-debt/if-you-do-owe-the-money-pay-the-judgment">If you do owe the money - pay the judgment</a>
                    </li>
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.3"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/county-court-judgments-ccj-for-debt/ccjs-and-your-credit-rating">CCJs and your credit rating</a>
                    </li>
                </ol>

            </div>

        </li>
        <li class="gem-c-step-nav__step js-step {% if stepCat == 3 %}gem-c-step-nav__step--active step-is-shown{% endif %}" id="liability-orders"
            data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="3">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 3<span
                          class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title"><button
                            class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                            aria-expanded="false" aria-controls="step-panel-driving-lessons-and-practice-3"><span
                            class="js-step-title-text">
                Liability orders
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">{% if stepCat != 3 %}show{% else %}hide{% endif %}</span></button></span>
                </h2>
            </div>

            <div class="gem-c-step-nav__panel js-panel {% if stepCat != 3 %}js-hidden{% endif %}"
                 id="step-panel-driving-lessons-and-practice-3">

                <ol class="gem-c-step-nav__list " data-length="4">
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.1"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/council-tax-arrears">Pay council tax arrears</a></li>
                </ol>

            </div>

        </li>
        <li class="gem-c-step-nav__step js-step {% if stepCat == 4 %}gem-c-step-nav__step--active step-is-shown{% endif %}" id="options-for-paying-off-your-debt"
            data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="4">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 4<span
                          class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title"><button
                            class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                            aria-expanded="false"
                            aria-controls="step-panel-book-and-manage-your-theory-test-5"><span
                            class="js-step-title-text">
                Options for paying off your debt
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">{% if stepCat != 4 %}show{% else %}hide{% endif %}</span></button></span>
                </h2>
            </div>

            <div class="gem-c-step-nav__panel js-panel {% if stepCat != 4 %}js-hidden{% endif %}"
                 id="step-panel-book-and-manage-your-theory-test-5">

                <ol class="gem-c-step-nav__list " data-length="5">
                    <li class="gem-c-step-nav__list-item js-list-item {% if stepCat == 4 and stepSubCat == 1 %}gem-c-step-nav__list-item--active{% endif %}"><a data-position="4.1"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           href="/defendant-guidance/step-by-step/overview?step=4.1">Overview</a></li>
                    <li class="gem-c-step-nav__list-item js-list-item {% if stepCat == 4 and stepSubCat == 2 %}gem-c-step-nav__list-item--active{% endif %}"><a data-position="4.2"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           href="/defendant-guidance/step-by-step/set-up-payment-plan?step=4.2">Set up a payment plan</a></li>
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="4.3"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/options-for-paying-off-your-debts/debt-management-plans">Debt Management Plans</a></li>
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="4.4"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/options-for-paying-off-your-debts/administration-orders">Administration orders</a></li>
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="4.5"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/options-for-paying-off-your-debts/individual-voluntary-arrangements">Individual Voluntary Arrangements</a></li>
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="4.6"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/options-for-paying-off-your-debts/debt-relief-orders">Debt Relief Orders</a></li>
                </ol>

            </div>

        </li>
        <li class="gem-c-step-nav__step js-step {% if stepCat == 5 %}gem-c-step-nav__step--active step-is-shown{% endif %}" id="court-action"
            data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="5">
                <h2 class="gem-c-step-nav__title">
                                  <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                                    <span class="gem-c-step-nav__circle-inner">
                                      <span class="gem-c-step-nav__circle-background">
                                          <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 5<span
                                              class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                                      </span>
                                    </span>
                                  </span>

                    <span class="js-step-title"><button
                            class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                            aria-expanded="false"
                            aria-controls="court-action-5"><span
                            class="js-step-title-text">
                                    Court action
                                </span>
                                <span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">{% if stepCat != 5 %}show{% else %}hide{% endif %}</span></button></span>
                </h2>
            </div>

            <div class="gem-c-step-nav__panel js-panel {% if stepCat != 5 %}js-hidden{% endif %}"
                 id="court-action-5">

                <ol class="gem-c-step-nav__list " data-length="5">
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.1"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/debt-payments-from-your-wages">Having debt repayments taken from your wages</a></li>
                    <li class="gem-c-step-nav__list-item js-list-item {% if stepCat == 5 and stepSubCat == 2 %}gem-c-step-nav__list-item--active{% endif %}"><a data-position="5.2"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           href="/defendant-guidance/step-by-step/stop-bailiff-visit?step=5.2">Stop a bailiff visit</a></li>
                </ol>

            </div>

        </li>
        <li class="gem-c-step-nav__step js-step {% if stepCat == 6 %}gem-c-step-nav__step--active step-is-shown{% endif %}" id="if-you-cannot-keep-up-with-payments"
            data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="6">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 6<span
                          class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title"><button
                            class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                            aria-expanded="false"
                            aria-controls="step-panel-book-and-manage-your-driving-test-6"><span
                            class="js-step-title-text">
                If you cannot keep up with payments

              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">{% if stepCat != 6 %}show{% else %}hide{% endif %}</span></button></span>
                </h2>
            </div>

            <div class="gem-c-step-nav__panel js-panel {% if stepCat != 6 %}js-hidden{% endif %}"
                 id="step-panel-book-and-manage-your-driving-test-6">

                <ol class="gem-c-step-nav__list " data-length="5">
                    <li class="gem-c-step-nav__list-item js-list-item {% if stepCat == 6 and stepSubCat == 1 %}gem-c-step-nav__list-item--active{% endif %}"><a data-position="6.1"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           href="/defendant-guidance/step-by-step/keep-up-payments?step=6.1">Change your payment plan</a></li>
                </ol>

            </div>

        </li>
        <li class="gem-c-step-nav__step js-step {% if stepCat == 7 %}gem-c-step-nav__step--active step-is-shown{% endif %}" id="if-you-cannot-pay-your-debts" data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="7">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> 7<span
                          class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title"><button
                            class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button"
                            aria-expanded="false" aria-controls="step-panel-when-you-pass-7"><span
                            class="js-step-title-text">
                If you cannot pay your debts
              </span><span class="gem-c-step-nav__toggle-link js-toggle-link" aria-hidden="true"
                           hidden="">{% if stepCat != 7 %}show{% else %}hide{% endif %}</span></button></span>
                </h2>
            </div>

            <div class="gem-c-step-nav__panel js-panel {% if stepCat != 7 %}js-hidden{% endif %}" id="step-panel-when-you-pass-7">

                <ol class="gem-c-step-nav__list " data-length="1">
                    <li class="gem-c-step-nav__list-item js-list-item {% if stepCat == 7 and stepSubCat == 1 %}gem-c-step-nav__list-item--active{% endif %}"><a data-position="7.1"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           href="/defendant-guidance/step-by-step/cannot-pay?step=7.1">Apply to get a court order changed</a></li>
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="7.2"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="https://www.gov.uk/national-debtline">National Debtline</a></li>
                    <li class="gem-c-step-nav__list-item js-list-item "><a data-position="7.3"
                                                                           class="gem-c-step-nav__link js-link"
                                                                           data-dead-link="true"
                                                                           href="hhttps://www.moneyadviceservice.org.uk/">Money Advice Service</a></li>
                </ol>

            </div>

        </li>
    </ol>
</div>
