{% extends "layout.html" %}

{% block pageTitle %}
Claimants guidance
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Business and self-employed</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Business debt and bankruptcy</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
<main role="main" id="content" class="guide">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Make a court claim for money
            </h1>

            <aside class="part-navigation-container" role="complementary">
                <nav role="navigation" class="gem-c-contents-list  " data-module="track-click"
                     aria-label="Pages in this guide">
                    <p class="govuk-body-s">Contents</p>

                    <ol class="gem-c-contents-list__list" style="margin-top: -20px; margin-left: -40px">
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link " data-track-category="contentsClicked"
                               data-track-action="content_item 1" data-track-label="/make-court-claim-for-money"
                               data-track-options="{&quot;dimension29&quot;:&quot;How to make a claim&quot;}"
                               href="">How to make a claim</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link " data-track-category="contentsClicked"
                               data-track-action="content_item 2"
                               data-track-label="/make-court-claim-for-money/court-fees"
                               data-track-options="{&quot;dimension29&quot;:&quot;Court fees&quot;}"
                               href="">Court fees</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link " data-track-category="contentsClicked"
                               data-track-action="content_item 3"
                               data-track-label="/make-court-claim-for-money/work-out-interest"
                               data-track-options="{&quot;dimension29&quot;:&quot;Claim the interest&quot;}"
                               href="">Claim the
                                interest</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link " data-track-category="contentsClicked"
                               data-track-action="content_item 4"
                               data-track-label="/make-court-claim-for-money/after-you-make-your-claim"
                               data-track-options="{&quot;dimension29&quot;:&quot;After you make your claim&quot;}"
                               href="">After you make your claim</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                            <a class="gem-c-contents-list__link " data-track-category="contentsClicked"
                               data-track-action="content_item 5"
                               data-track-label="/make-court-claim-for-money/what-happens-at-the-hearing"
                               data-track-options="{&quot;dimension29&quot;:&quot;What happens at the hearing&quot;}"
                               href="">What happens at the hearing</a>
                        </li>
                        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
                            <span style="font-family: GDS Transport Website">If you do not get your money back</span>
                        </li>
                    </ol>
                </nav>

            </aside>

            <h1 class="part-title">
                If you do not get your money back
            </h1>

            <p>If the person or business who owes you money does not pay, you can ask the court to collect payment for
                you
                (enforcing a judgment).</p>

            <p>Types of enforcement include asking the court to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>send a bailiff to their home or business</li>
                <li>take money from their wages</li>
                <li>freeze their bank account</li>
                <li>put a charging order on property they own</li>
            </ul>

            <p>You will need to pay a court fee each time you ask the court to use enforcement. For example, if you
                cannot
                get money from their wages, you will need to pay another fee to send a bailiff. The court adds this fee
                to
                the total debt owed to you, but there is no guarantee that the court will get your money back.</p>

            <div class="govuk-!-padding-bottom-5"></div>

            <h2 class="govuk-heading-m">Find out what they can afford to pay</h2>

            <p>Ask the court to <a target="_blank"
                                   href="https://www.gov.uk/government/publications/form-n39-order-to-attend-court-for-questioning">order
                the person or business who owes you money to attend court to give evidence of their income or
                spending</a>,
                for example bills and statements.
            </p>

            <p>The court fee is £55.</p>

            <p>If a business owes you money, you can ask for an officer from the company to attend court and give
                details of
                its accounts.</p>

            <p>You can then decide if and how you want the court to take further action to collect your payment.</p>

            <div class="govuk-!-padding-bottom-5"></div>

            <h2 class="govuk-heading-m">Send bailiffs to collect payment</h2>

            <p>You can ask the court to send bailiffs to collect the money. You’ll
                need to apply for either a writ of control or a warrant of control depending on how much you are
                owed.</p>

            <p>County court bailiffs enforce warrants, work for the courts, and charge no fees. High court bailiffs
                enforce
                writs, work for private companies, and charge fees.</p>

            <h3 class="govuk-heading-s">What a bailiff will do</h3>

            <p>Bailiffs will contact the person or business who owes you money and give them 7 days to pay the debt.
                After 7
                days the bailiff will go to their address to see if there’s anything they own that a bailiff can sell at
                an
                auction. If there is, the bailiff will take control of their goods under a Controlled Goods Agreement.
                The
                money raised at the auction will go towards paying the debt and bailiff fees.</p>

            <p>The bailiff might suggest a monthly payment plan instead of selling their goods. A payment plan can only
                be
                set up if you accept the offer.</p>

            <p>You may need legal advice if you apply at the High Court.</p>

            <p>Find out <a target="_blank"
                           href="https://www.gov.uk/your-rights-bailiffs">what
                a bailiff can and cannot take</a>
            </p>

            <div class="govuk-!-padding-bottom-5"></div>

            <h2 class="govuk-heading-m">Warrant of control</h2>

            <p>You can apply for a warrant of control for a debt of less than £5,000, which includes:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>your original claim fee</li>
                <li>the £77 fee to issue the warrant</li>
            </ul>

            <p>You can also get a warrant for a debt of more than £5,000 if it’s an agreement regulated under the
                Consumer Credit Act 1974.</p>

            <p>The court fee is £77.</p>

            <p>If you made your claim online, you can also request a warrant online. <br>
                <a target="_blank"
                   href="https://www.moneyclaim.gov.uk/web/mcol/welcome">Sign in to Money Claim Online</a>
            </p>

            <p>If you used a paper form to make your claim, you will need to download and fill in <a target="_blank"
                                                                                                     href="https://www.gov.uk/government/publications/form-n323-request-for-warrant-of-control">request
                for warrant of control form N323</a>. You must send the form to the court where you made the claim,
                along
                with a cheque or postal order for the
                fee.</p>

            <div class="govuk-!-padding-bottom-5"></div>

            <h2 class="govuk-heading-m">Writ of control</h2>

            <p>You can only apply for a writ of control if you are owed more than £600.</p>

            <p>The court fee is £66.</p>

            <p>A writ of control must be approved first by the county court that issued your judgment and then by a high
                court.</p>

            <p>If you name a bailiff in your application it is up to you to give the writ to the high court bailiff.
                Otherwise a high court bailiff in your area will enforce the writ. High court bailiffs charge for their
                services with the costs being added to the overall debt.</a>
            </p>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      High court bailiff fees
    </span>
                </summary>
                <table class="govuk-table">
                    <!--<caption class="govuk-table__caption">High court bailiff fees</caption>-->
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Action</th>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Flat fee</th>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Plus</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Issuing a notice of enforcement</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£75</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Take control of goods</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£235</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">7.5% of the proportion of the main debt
                            over £1,500
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Goods taken and sold at auction</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£110</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">7.5% of the proportion of the main debt
                            over £1,500
                        </td>
                    </tr>
                    </tbody>
                </table>
            </details>

            <div class="govuk-!-padding-bottom-5"></div>

            <h2 class="govuk-heading-m">Get money deducted from wages</h2>

            <p>You can ask the court to send an order to their employer ordering the employer to take money from their
                wages.</p>

            <p>The court fee is £110.</p>

            <p>Download and fill in a request for an <a target="_blank"
                                                        href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=567">attachment
                of earnings order form N337</a>.
            </p>

            <div class="govuk-!-padding-bottom-5"></div>

            <h2 class="govuk-heading-m">Freeze assets or money in an account</h2>

            <p>You can ask the court to freeze money in their bank, building society or business account. The court will
                decide if money from the account can be used to pay the debt.</p>

            <p>The court fee is £110.</p>

            <p>Download and fill in a request for a <a target="_blank"
                                                       href="https://www.gov.uk/government/publications/form-n349-application-for-third-party-debt-order">third
                party debt order form N349</a>.
            </p>

            <div class="govuk-!-padding-bottom-5"></div>

            <h2 class="govuk-heading-m">Charge the debtor’s land or property</h2>

            <p>You can ask the court to charge the debtor’s land or property. If the land or property is sold, the
                debtor
                must pay this charge before they get their money.</p>

            <p>The court fee is £110.</p>

            <p>Download and fill in a request for a <a target="_blank"
                                                       href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=576">charging
                order form N379</a>.
            </p>


        </div>

        <div class="govuk-grid-column-one-third">

            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Subsection
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a href="#">
                                Related link
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Related link
                            </a>
                        </li>
                        <li>
                            <a href="#" class="govuk-!-font-weight-bold">
                                More <span class="govuk-visually-hidden">in Subsection</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>

        </div>

    </div>
</main>
{% endblock %}
