<html>
<head><title>HMCTS Email</title>
    <link href="/public/stylesheets/email.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body marginheight="0">
<div id="background" style="background-color: #dee0e2 ; margin: 0 ; overflow: hidden">
    <table id="body" cellspacing="0" cellpadding="0" style="margin: 30px auto ; max-width: 600px">
        <tbody>
        <tr id="header">
            <td style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif">
                <table width="100%" cellspacing="0" cellpadding="0" style="background: #000000">
                    <tbody>
                    <tr>
                        <td width="30"
                            style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif ; padding: 4px 0 ; border-bottom: solid 10px #005ea5">
                            <a href="#" title="Go to the GOV.UK homepage"
                               style="font-size: 30px ; font-weight: bold ; text-decoration: none ; color: #ffffff"
                               target="_other" rel="nofollow">
                                <img src="https://assets.publishing.service.gov.uk/static/images/gov.uk_logotype_crown-ea874a79e09423d63420aff44f016fd0b92dc6dec0cc2668d63b150c8669875e.png"
                                     width="30" alt="" style="margin: 0px 6px 5px 20px">
                            </a>
                        </td>
                        <td style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif ; padding: 4px 0 ; border-bottom: solid 10px #005ea5">
                            <a href="#" title="Go to the GOV.UK homepage"
                               style="font-size: 30px ; font-weight: bold ; text-decoration: none ; color: #ffffff"
                               target="_other" rel="nofollow">GOV.UK</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr id="tagline">
            <td style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif">
                <table width="100%" cellspacing="0" cellpadding="0" style="background: #ffffff">
                    <tbody>
                    <tr>
                        <td width="34"
                            style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif ; padding: 10px 0 ; font-size: 18px ; border-bottom: solid 1px #808080">
                            <img height="26"
                                 style="border-left: solid 2px #000000 ; padding-left: 6px ; margin: 5px 6px 0 20px">
                        </td>
                        <td style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif ; padding: 10px 0 ; font-size: 18px ; border-bottom: solid 1px #808080">
                            HM Courts & Tribunals Service
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr id="contents">
            <td style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif">
                <table width="100%" cellspacing="0" cellpadding="0" style="background: #ffffff">
                    <tbody>
                    <tr>
                        <td style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif ; padding: 25px 20px 20px">

                            {% block content %}

                            {% endblock %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr id="footer" style="font-size: 14px ; color: #666666">
            <td style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>

                        <td colspan="25%" align="right"
                            style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif ; padding: 20px">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/application.js"></script>
</body>
</html>