<html><head><title>Government Gateway User ID</title></head><body marginheight="0"><div id="background" style="background-color: #dee0e2 ; margin: 0 ; overflow: hidden">
  <table id="body" cellspacing="0" cellpadding="0" style="margin: 30px auto ; max-width: 600px">
    <tbody><tr id="header">
      <td style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif">
        <table width="100%" cellspacing="0" cellpadding="0" style="background: none">
          <tbody><tr>
            <td width="30" style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif ; padding: 4px 0 ; border-bottom: solid 10px red">

            </td>
            <td style="font-family: &quot;comicsans&quot; , &quot;arial&quot; , sans-serif ; padding: 4px 0 ; border-bottom: solid 10px red">
              <a style="font-size: 30px; color: red;">ABC BAILIFFS LTD</a>
            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>

    <tr id="tagline">
      <td style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif">

      </td>
    </tr>

    <tr id="contents">
      <td style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif">
        <table width="100%" cellspacing="0" cellpadding="0" style="background: #ffffff">
          <tbody><tr>
            <td style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif ; padding: 25px 20px 20px">

              {% block content %}

              {% endblock %}
            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>
    <tr id="footer" style="font-size: 14px ; color: #666666; border-top: solid 10px red">
      <td style="font-family: &quot;helvetica&quot; , &quot;arial&quot; , sans-serif">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tbody><tr>

          </tr>
          </tbody></table>
      </td>
    </tr>

    </tbody></table>
</div>

<br><br><br><br><br><br><br></body></html>