{% extends "layout.html" %}

{% block pageTitle %}
    Civil Enforcement prototypes
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">
                Civil enforcement prototypes
                <span class="govuk-caption-xl">Guidance</span>
            </h2>{{ releaseVersion | log }}
            <p class="">
                This is a prototype that allows the civil enforcement team to test ideas and for research purposes. It
                is not a working software.
            </p>

            <p><a href="/v1/claimant-guidance/">Claimant guidance</a></p>
            <p><a href="/v1/defendant-guidance/">Defendant guidance</a></p>
            <p><a href="/v1/defendant-guidance/step-by-step/" target="_blank">Defendant guidance (step by step version)</a></p>

            <h2 class="govuk-heading-s">User research artefacts</h2>

            <ol class="govuk-list govuk-list--number">
                <li><a href="/ur/29-10-2018">29/10/2018</a></li>
                <li><a href="/ur/25-10-2018">25/10/2018</a></li>
            </ol>

        </div>
    </div>

{% endblock %}
